.loading{
    background-image: url( "../img/ajax-loader.gif");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    width:10px;
}
.wrap {
    margin: 10px 10px 0 2px;
}
.loading-select{
    background-image: url( "../img/ajax-loader.gif");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    width:10px;
}
.wpforms-setting-field label {
    line-height: 1.3;
    font-weight: 600;
    color: #23282d;
    font-size: 14px;
    margin-right: 10px;
}

.log-setting {
    padding-top: 20px;
}
.gs-tab{
    margin-top:40px;
}
.gs-tab label {
    font-size: 14px;
}

#gs-woo-code {
    width: 15em;
}

.woo-valid-message {
    font-weight: bold;
    color: green;
}

.wp-sync-row{
    font-style: italic;
    margin-right: 25px;
    background: #F3F3F3;
    padding: 10px;
}
a#gs-woo-sync {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}
input#woocommerce-setting-google-access-code {
    width: 24em;
    height: 2.4em;
}
.wpform-gs-alert-kk {
    color: #0073b1;
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: 500;
}
.gs-valid-message {
    font-weight: bold;
    color: green;
}
.woocommerce-debug-view,
.debug-clear{
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.divider {
    margin: 30px 0px;
}
p.wpforms-setting-field.log-setting.notice-kk {
    color: red;
    font-size: 15px;
}
p.save-notify-kk {
    color: #e27730;
}

.card-wp{
    position: relative;
    margin-top: 20px;
    padding: .7em 2em 1em;
    min-width: 294px;
    max-width: 736px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    height: 50%;
}
a.wpforms-btn.wpforms-btn-md.wpforms-btn-light-grey {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #666;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 12px;
    min-height: 35px;
    text-decoration: none;
}

span.gsheet-valid-message {
    font-weight: 600;
    color: #2f9a34;
}
.li-woo-header{
   /* float: left;
    width: 18%;
    position: relative;
    margin: 0.2%;
    padding: 15px 50px 15px 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;*/
    position: relative;
    margin: 0px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 4px;
    width: 250px;
    display: inline-block;
    height: 30px;
}

.text_heading{
    border: 1px solid #E5E5E5;
    padding: 16px 41px;
    border-radius: 10px;
}

.col-12{
    margin: 25px 0;
}
input#save-gs-woo-code {
    background-color: #9C5C90;
    border-color: #e27730;
    color: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 20px 0px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: none;
    padding: 9px 12px;
    margin-top: 35px;
}
input.woo-save-btn {
    font-weight: 600;
    cursor: pointer;
    background: #9C5C90;
    color: #fff;
    border-color: #cec2bb;
    padding: 10px;
    margin-top: 35px;
    font-size: 15px;
    border-radius: 5px;
}
span.woo-pointer{
    cursor: pointer;
}
.gs-woo-fields select {
    width: 250px;
}
.gs-woo-fields {
    min-width: 255px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    background: #fff;
    padding: 20px 10px;
    /*max-width: 750px;*/
    margin-top: 25px;
    border-radius: 10px;
}
.gs-woo-fields input {
    width: 160px;
    background-color: #9C5C90;
    color: #ffff;
    height: 32px;
    border-radius: 5px;
}
.gs-woo-fields label {
    margin: 0 10px 0 10px;
    float: left;
    width: 160px;
    font-size: 14px;
}
.sheet-details.nav-tab-active {
    background-color: #ffff;
    font-weight: 500;
}
.gs-woo-fields span {
    margin: 20px 0 20px 10px;
}

.gs-woo-in-fields {
    background: #fff;
    padding: 30px;
    overflow: hidden;
}
.gs-woo-cards {
    /*float: left;
    width: 21%;
    background: #fff;
    margin: 1%;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    font-size: 14px;*/
    float: left;
    width: 16%;
    background: #fff;
    margin: 4px;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    font-size: 14px;
}
.gs-name span {
    display:none;
    position: absolute;
    border-radius: 5px 5px; 
    left: 350px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    margin-left: 0;
    z-index: 999;

}
.gs-name:hover {
    color: #00a0d2;
}
.gs-name:hover span {
    display:inline-block;
    width: 300px;
    margin-top: 20px;
    z-index: 1001;
}
.hover-data { 
    padding: 5px;
    background:  #333;
    background: rgba(0,0,0,.8);
    color: #fff;
}
h2{
    text-align: center;
}
span.title1 {
    color: #9C5C90;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
}
span.title {
    color: #479c4b;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
}
.card {
    position: relative;
    margin-top: 20px;
    padding: 0.7em 2em 1em;
    width: 58%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    background: #fff;
    height: 50%;
    min-width: 645px;
}
.card1 {
    position: relative;
    margin-top: 20px;
    padding: 0.7em 1.3em 1em;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    background: #fff;

}

/*.wp-parts {
    width: 100%;
    display: flex;
}*/
.wpforms-panel-content-section-title h3 {
    font-size: 16px;
    color: #4AA94F;
    padding-bottom: 10px;
}
.wp-formSelect {
    float: left;
    padding-right: 20px;
    padding-left: 25px;
}
.wp-valid-notice{
    font-weight:500;
}
.wp-select {
    padding: 11px 0px 0px 0px;
}
a.nav-tab.nav-tab-active {
    border-top: 2px solid #9C5C90;
}

input:disabled {
    background-color: rgb(235, 235, 228);
}
/* ---------- tooltip for deactivate msg ----------*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #464646;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 7px 7px;
    position: absolute;
    z-index: 1;
}
span.tooltiptext.tooltip-right {
    font-size: 14px;
    font-weight: 500;
}
.tooltip-right {
    top: -77px;
    left: 125%;
}
.tooltip-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.tooltip1:hover .tooltiptext1 {
    visibility: visible;
    /*opacity: 1;
    transition: visibility 0s, opacity 5s linear;*/
}
.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 90px;
    background-color: #464646;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 4px 4px;
    position: absolute;
    z-index: 1;
    margin-top: 19px;
    margin-left: -22px;
}

.help-icon {
    width: 18px;
    vertical-align: middle;
}
.woo-header{
    list-style-type: none;
    margin: 10px 8px 8px;
    padding: 15px;
    width: 97%;
    border: 1px solid #ddd;
    float: left;
    background: #fff;
    border-radius: 10px;
}
/* ---------- end tooltip for deactivate msg ----------*/

/* ---- demo content block --------- */
.demo-block span {
    margin: 20px 0 20px 10px;
    font-weight: 700;
    color: #4AA94F;
    font-size: 15px;
}
.demo-block p label {
    margin: 0 9px 0 11px;
    float: left;
    width: 22%;
    font-size: 14px;
    font-weight: 600;
}

/* ---- end demo content block --------- */

.log-setting h2.title {
    max-width: none;
    font-weight: 700;
    color: #4AA94F;
    font-size: 16px;
    text-align: center;
}

.card-support {
    position: relative;
    margin-top: 20px;
    padding: 0.7em 1.3em 1em;
    width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    background: #fff;
    margin-left: 19px;
}
.column {
    align-self: flex-start;
    min-width: 46%;
    float: left;
    width: 25%;
    height: 250px;
    padding: 10px;
}
.video_link a{
    text-decoration: none;
    color:#000;
    font-size: 20px;
}
.doc_wrap{
    margin-top: 40px;
}

/* ---- font awsum style ------ */

i.fa.fa-life-ring {
    font-size: 30px;
    color: #019ee1;
    margin: -4px 10px 0px 10px;
    float: left;
}
i.fa.fa-book {
    font-size: 30px;
    color: #019ee1;
    margin: -4px 10px 0px 10px;
    float: left;
}

.support-block h2 {
    padding-bottom: 15px;
}

/***** syastem-status tab style ****/
#wpforms-gs-system-info{
    width: 800px;
    height: 400px;
}
/***** faq tab style ****/

.collapsible {
    background-color: #4AA94F;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #9a9a9a;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight:500;
}

.active, .collapsible:hover {
    background-color: #4AA94F;
}
button.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.collapsible.active:after {
    content: "\2212";
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.tab-full {
    margin: 20px;
}
.faq-content{
    padding-top: 20px !important;
}

/***** faq tab style ****/

#cf7gs-system-info{
    width: 800px;
    height: 400px;
}

.content ul {
    padding: 10px 20px;
    list-style-type: square;
}


.special input[type="checkbox"], input[type="radio"] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px !important;
    min-width: 16px;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
    transition: .05s border-color ease-in-out;
}

input.name-field {
    width: 120px;
}

input:disabled {
    background-color: rgb(235, 235, 228);
}

.cd-faq-items .pro {
    color: #ff4747;
}

.gs-demo-fields span {
    margin: 20px 0 20px 10px;
    font-size: 15px;
}
.wp-core-ui .button-primary.hover, .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary.focus, .wp-core-ui .button-primary:focus {
    background: #479C4B;
    border-color: #9C5C90;
    color: #fff;
}
.wp-core-ui .button-primary {
    background: #9C5C90;
    border-color: #9C5C90;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
}
.gs-second-block h2 span.gs-info, .gs-third-block h2 span.gs-info, span.gs-info {
    font-size: 14px;
    font-style: italic;
    color:#333;
    font-weight: 400;
}

table.gs-field-list {
    margin-left: 30px;
}
table.gs-field-list.special {
    margin: 0px;
}
td.gs-r-pad {
    padding-right: 10px;
}

.gs-third-block .gs-field-list td:nth-child(2), .gs-third-block .gs-field-list td:nth-child(5), .gs-second-block .gs-field-list td:nth-child(2){
    font-weight: 600;
}

input[type="checkbox"] {
    background-color: rgb(235, 235, 228) !important;
}

.soon {
    height: 75px;
    width: 85px;
    margin-left: 430px;

}

input.woo-sync-btn{
    font-weight: 600;
    background: #9C5C90;
    color: #fff;
    border-color: #cec2bb;
    padding: 10px;
    margin-top: 35px;
    margin-left: 100px;
    font-size: 15px;
    border-radius: 5px;
}

.connected-account u{
    color: #0085BA!important;
}
.connected-account{
    margin-top: 30px!important;
    font-size: 16px!important;
    line-height: 24px!important;
    font-weight: 500!important;
}

.error_msg {
    color: #e84949;
    font-weight: 500;
    margin-left: 10px;
}



/*****/

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 7px;
    line-height: 1;
    text-align: center;
    /*padding: 8px 16px;*/
    padding: 0px 8px;
    margin-right: -4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}


.switch-field label:first-of-type {
    border-radius: 20px 0 0 20px;
    background-color: #b8199a;
    box-shadow: none;
    color:#fff;
}

.switch-field label:last-of-type {
    border-radius: 0 20px 20px 0;
}

/* RSD REMOVE
.switch-label {
    width:50%;
    float:left;
}
*/

.switch-label{
    float: left;
    width: 70%;
    display: inline-block;
}



.switch-label span{
  /*white-space: nowrap;*/
  min-height: 18px;
  display: block;
}

/* RSD REMOVE
.switch-field {
    width:50%;
    float:right;
}*/

.li-woo-header .switch-field{
  float: right;
  display: inline-block;
  width: 20%;
  text-align: right;
  margin-top: 3px;
  margin-right: 4px;
}
.li-woo-header .edit-field{
   width: 10%;
   float: left; 
}

.li-woo-header {
    /*padding: 15px 50px 1px 20px;*/
}

.li-woo-header .sort-icon {
    width: 6%;
    float: left;
    margin-top: 5px;
}

.switch-field input:checked + label.switch-label-no {
    background-color: #3c2b39;
}

.switch-checkAll{
    width:100%;
    margin-bottom: 15px;
    margin-left: 15px;
}
.switch-checkAll-label{
    margin-right: 33px;
    margin-top: 5px;
    margin-left: 20px;
    font-weight:700;
}
/* Mobile Responsive */
.edit_col_name{
    float: right;
}
.label_text {
    float: left;
}
.gs-woo-tabs-set{
    overflow: auto;
    position: relative;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    /* min-height: 380px; */
    border-radius: 10px;
    width: initial;
    padding: 15px;
}


/* convert checkbox to toggle button */

.check-toggle{
    display: none;
}

.button-woo-toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 10px;
  display: table-caption;
  margin-left: 15px;
}
.button-woo-toggle::before,
.button-woo-toggle::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.button-woo-toggle::before {
  width: 100%;
  height: 100%;
  background-color: #756e6e;
  border-radius: 25px;
  border: 1px solid #756e6e;    
  transition: background-color 0.5s ease;
}
.button-woo-toggle::after {
    top: 1px;
    left: 3px;
    width: 33%;
    height: 96%;
    border-radius: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #000;
    transition: left 0.4s ease;
}
.check-toggle:checked + .button-woo-toggle::before {
  background-color: #b8199a;
  border-color: #b8199a;
}
.check-toggle:checked + .button-woo-toggle::after {
  left: 75%;
}

/* convert checkbox to toggle button */